*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
#footer{
    width: 100%;
    height: 260px;
    display: flex;
    padding: 0 1%;
    border-radius: 40px;
    text-align: center;
    background-color:rgb(22, 22, 22);
}
#footer a{
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
}
#footer li{
    list-style-type: none;
}

#footer-1, #footer-2, #footer-3, #footer-4{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0 1%;
    width: 23%;
    float: left;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#footer-1{
    padding: 0;
    width: 31%;
}
.footer-hover:hover{
    color: goldenrod !important;
    transition: 0.4s ease !important;
}
#footer-3 li, #footer-4 li{
    text-align: left;
}
#footer-1-logo{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}
#footer-1-logo h1{
    font-weight: bold;
}
#footer-1-logo h2{
    font-weight: normal !important;
}
.footer-border{
    margin: 5px 0;
    border-bottom: 1px solid goldenrod;
}
.list{
    align-items: center;
    text-align: center;
}
.icon{
    height: 100px;
    margin-right: 10px;
}
@media only screen and (max-width: 600px){
    #footer{
        display: block;
        width: 100%;
        height: 100%;
        padding: 1px 40px;
    }
    #footer-1, #footer-2, #footer-3, #footer-4{
        display: block;
        width: 100%;
        height: 100%;
        margin: 40px 0;
        float: none;
    }
}