*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
#main{
    width: 100%;
}
#sec-1{
    width: 100%;
    margin: 0;
}
#sec-1 div{
    padding: 0;
}
#wave{
    display: block;
    margin: 0 auto;
}
#welcome{
    padding: 40px !important;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: black;
    color: white;
}
#welcome h1{
    font-weight: bold;
}
#sec-2{
    height: 700px;
    text-align: center;
    background-image: url("../images/sec-2-image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#sec-2-text{
    color: white;
    padding: 350px 17% 0;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 3px black;
}
#sec-3{
    margin: 0;
}
#video-text{
    display: block;
    margin-top: -200px;
    text-align: center;
    color: white;
}
#video-text h1, h2{
    font-weight: 1000 !important;
}
#sec-4{
    margin: 90px 0 0;
    padding: 60px 100px;
    background-color: white;
}
#sec-4-1{
    margin: 0 0 40px;
}
#sec-4-2 img{
    margin-bottom: 20px;
}
.sec-4-row{
    padding: 40px !important;
    border: 1px solid gray;
}
.sec-4-line{
    margin: 20px 0;
    border-bottom: 1px solid gray;
}
#sec-5{
    height: 700px;
    background-image: url("../images/sec-5-image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#sec-5-exp{
    height: 180px;
    width: 180px;
    margin: 400px 0 0 50px;
    padding: 20px;
    background-color: whitesmoke;
    float: left;
    border-radius: 5%;
    box-shadow: 0.5px 0.5px 3px gray;
}
#sec-5-exp svg{
    margin: 0 5px 15px;
}
#sec-5-check{
    margin: 400px 50px 0 0;
    color: white;
    text-shadow: 0.5px 0.5px 1px black;
    float: right;
}
#sec-5-check li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}
.check-box{
    color: yellow;
    margin: 0 15px 0 0;
}