header{
    background-image: url(/images/yacht2.jpg);
    height: 700px;
    background-size: cover;
    background-position: center;

    
}
nav{
    position: fixed;
    width: 100%;
    padding: 20px 0;
}
nav .menu{
    
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.menu ul{
    display: flex;
    margin-left: 7px;
    list-style: none;
}
.menu ul a {
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    transition: all 0.3s ease;
}
.menu ul a:hover {
    background: yellow;
    color: black;
}
.center {
    color: rgb(224, 123, 98);
    width: 100%;
    padding: 200px 20px;
    text-align: center;

}
.center .title{
    font-size: 55px;
    text-transform: uppercase;
}
.center a{
    color: rgb(224, 123, 98);
}
.center a:hover{
    background: yellow;
    color: black;
}
/* Main*/
main{
    margin: 20px 80px;
}
.button1{
    font-size: 16px;
    padding: 10px 30px;
    border: 1px solid red;
}
.select_room{
    float: left;
    padding: 10px 20px;
    border: 1px solid black;
    
    
}
.cabin_picture{
    float: left;
    width: 250px;
    padding: 10px 0;

}
.cabin{
    float: left;
    width: 400px;
    padding: 10px 10px;
}
.cabin_item{
    float: left;
}
.cabin_price{
    float: left;
    width: 300px;
    padding: 10px 10px;
}
.cabin_select{
    float: left;
    width: 400px;
    padding: 10px 10px;
}
.cabin_total{
    float: left;
    padding: 10px 10px;
    width: /*calc(100% - 250px - 400px - 300px - 400px);*/ 200px
}
